[submodule "SparkleSharp"]
	path = SparkleSharp
	url = https://github.com/rainycape/SparkleSharp.git
[submodule "conduit.macOS/SparkleSharp"]
	path = conduit.macOS/SparkleSharp
	url = https://github.com/rainycape/SparkleSharp.git
